// Colors (Moonlight)
$primary: #70b0ff;
$secondary: #2f334d;
$success: #7af8ca;
$warning: #ffdb8e;
$danger: #ff5370;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Other
$nav-link-padding-y: .15rem;
